body {
	background-color: #000;
	span {
		color: red;
	}
}

h1 {
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
	span {
		font-size: 20px;
	}
}


@media (max-width: 768px) {
	body {
		background-color: green;
	}
}